<html>

<head>
    <title>CSE 591 Adaptive Web Assignment 3</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
        code {
            white-space: pre-wrap;
        }
    </style>
    <script>
        $(document).ready(function() {
            $("#leftCol a").click(function() {
                return false;
            });

            $("#search-btn").click(function() {
                let text = $("#search-term").val();
                //console.log(text);
                doAjaxCall(text, -1);
            });
        });

        function fetchResultsSuccessCallback(response) {
            //console.log(JSON.parse(response.docs).length);
            let docs = JSON.parse(response.docs);
            let question = JSON.parse(response.question);

            if (docs.length > 0) {
                $("#suggestions-list").html('');
                for (let i = 0; i < docs.length; i++) {
                    let appendElement = '';

                    appendElement += '<li class="list-group-item">';
                    if (docs[i].contentHeader != undefined) {
                        appendElement += docs[i].contentHeader[0] + " : ";
                    }
                    if (docs[i].content != undefined) {
                        appendElement += docs[i].content;
                    }
                    appendElement += '</li>';
                    $("#suggestions-list").append(appendElement);
                }
            }

            if (question.text != undefined) {
                let searchQuestion = question.text;
                let searchCode = question.code;
                $("#search-text").html('');
                $("#search-text").append('<p>' + searchQuestion + '</p>');
                if (question.code != undefined && question.code != "") {
                    $("#search-text").append('<code>' + searchCode + '</code>');   
                }
            } else {
                $("#search-text").html(response.searchText);
            }

            $("#right-label").html('For the search text:');
            $("#results-content").removeAttr('hidden');
        }

        function fetchResults(i) {
            var numI = parseInt(i);
            let posts = <%- JSON.stringify(posts) %> ;
            //console.log(posts[numI].text);
            doAjaxCall(posts[numI].text + posts[numI].code, numI);
        }

        function doAjaxCall(text, numI) {
            $.ajax({
                url: "/search",
                type: "get",
                data: {
                    q: text,
                    qId: numI
                },
                success: fetchResultsSuccessCallback,
                error: function(xhr) {
                    //Do Something to handle error
                }
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Assignment 3</h1>
        </div>

        <!--main-->
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col-md-3" id="leftCol">
                    <ul class="list-group" id="sidebar">
                        <% for(var i=0; i < posts.length; i++) { %>
                            <li class="list-group-item">
                                Type:
                                <%= posts[i].type %>
                                    <br>
                                    <a onclick="fetchResults('<%= i %>')" href="#">
                                        <%= posts[i].textTrimmed %>
                                    </a>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <!--/left-->

                <!--right-->
                <div class="col-md-9">
                    <div class="row">
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Search" name="srch-term" id="search-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="search-btn"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p id="search-content">
                            <h3 id="right-label"> <--- Select a post</h3>
                            <p id="search-text"></p>
                        </p>
                        <div class="well" hidden="true" id="results-content">
                            <h2>Suggested Results</h2>
                            <ul id="suggestions-list" class="list-group"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <h5><b>FOR BONUS:</b> Added a search box where a search term can be entered.
                        <h5><b>FOR BONUS:</b> Collected over 8000 small chunks of text and code from both Wikibooks Java Programming and Oracle Java Tutorial</h5>
                        <b>Indexing the documents:</b> The crawler picks up all the sections and their title from the web page and divides them into small chunks of text and code snippets. From the crawled content, many "parts" are built and each part contains a link (from the site the content was picked), a title (of the main page), contentHeader (section and header) and content (small chunk of code and text
                        <p><br>These documents are then uploaded into Apache Solr server Solr provides REST APIs by which we can query on the document set.<br>The documents are indexed using a <a href="https://en.wikipedia.org/wiki/Okapi_BM25" target="_blank">Best Matching probabiility algorithm</a>.
                        </p>
                    </div>

                </div>
                <!--/right-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->

    </div>
</body>

</html>